html
    head
        title Express Apps
        style
            include style.css
    body
        div.container.margin-b-50
            div.text-center
                span Error is fetching posts: 
                span= error