.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

body {
    background-color: #F7F9F9 ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

table {
    width: 100%; 
    border-collapse: collapse;
    text-align: left;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: #fff;
}

table th,table td {
    padding: 10px;
    font-size: 16px;
}

table thead tr{
    background-color: #527ceb;
    color: #fff;
}

table tbody tr {
    color: #808080;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.padding-left-15 {
    padding-left: 15px;
}

.display-inline-block {
    display: inline-block;
}

.v-align-top {
    vertical-align: top;
}

.margin-b-5 {
    margin-bottom: 5px;
}

.small-font {
    font-size: 12px;
}

.micro-font {
    font-size: 10px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-t-50 {
    margin-top: 50px;
}

span {
    font-size: 16px;
}

.font-bold {
    font-weight: bold;
}

.secondary-font-color {
    color: #808080;
}


@media 
only screen and (max-width: 760px) {
    table thead {
        display: none;
      }
      table td {
        display: flex;
      }
      
      table td::before {
        font-weight: bold;
        width: 120px;
        min-width: 120px;
      }

    td:nth-of-type(1):before { content: "Id"; }
	td:nth-of-type(2):before { content: "UserId"; }
    td:nth-of-type(3):before { content: "Title"; }
    td:nth-of-type(4):before { content: "Body"; }
    td:nth-of-type(5):before { content: "Author"; }
}

